<!DOCTYPE html>
<html lang="en">
<head>
    <meta charse t="UTF-8">
    <title>CornBread</title>
</head>
<body>
  <h1>CornBread Recipe</h1>
  <h2>How to make CornBread</h2>
  <table>
      <caption>Ingredients</caption>
      <tr><th>Cooking spray to grease pan </th></tr>
      <tr><td> 1 cup milk</td></tr>
      <tr><td> 1 large egg</td></tr>
      <tr><td>1 1/4 cups yellow, white or blue cornmeal </td></tr>
      <tr><td>1 cup all-purpose flour</td></tr>
      <tr><td>1/2 cup granulated sugar </td></tr>
      <tr><td>1 cup granulated sugar </td></tr>
      <tr><td>1 tablespoon baking powder</td></tr>
      <tr><td> 1/2 teaspoon salt</td><td>15</td></tr>
      <th>Bake 20 to 25 minutes or until golden brown</th></tr>
  </table>
  <h2>Steps</h2>
<p>Heat the oven to 400°F. Spray the bottom and sides of an 8-inch square pan or 9-inch round cake pan with the cooking
    spray.</p>

<p>In a 1-quart saucepan, heat the butter over low heat until melted.</p>

<p>In a large bowl, beat the melted butter, milk and egg with a fork or wire whisk until well mixed. Add the cornmeal,
    flour, sugar, baking powder and salt all at once; stir just until the flour is moistened (batter will be lumpy).
    Pour batter into the pan; use a rubber spatula to scrape batter from bowl. Spread batter evenly in pan and smooth
    top of batter.</p>

<p>Bake 20 to 25 minutes or until golden brown and a toothpick inserted in the center comes out clean. Serve warm.</p>
  <form action="/html/tags/html_form_tag_action.cfm" method="post">
      <div>
<textarea name="comments" id="comments" style="font-family:sans-serif;font-size:1.2em;">
Hey... say something!
</textarea>
      </div>
      <input type="submit" value="Submit">
  </form>

</body>
</html>